@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  font-family: "Inter";
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-size: 15px;
}

input:focus {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border: 1px solid #0077ff;
  outline: 4px solid rgba(0, 119, 255, 0.5);
}

input:disabled {
  color: gray;
}

input[type=checkbox] {
  width: 17px;
  height: 17px;
  margin-left: 10px;
}

.navbar {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 20px 0 black;
          box-shadow: 0 0 20px 0 black;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar .links {
  margin-left: 30px;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
}

#products {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

@media screen and (min-width: 900px) {
  #products {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  #products {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  #products {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#product {
  border-radius: 8px;
  -webkit-box-shadow: 0 0 20px 2px gray;
          box-shadow: 0 0 20px 2px gray;
  width: 80%;
  padding: 30px 0 20px 0;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

#product * {
  margin-bottom: 10%;
}

#product img {
  width: 70%;
  border-radius: 8px;
}

#product:hover {
  -webkit-box-shadow: 0 0 30px 8px gray;
          box-shadow: 0 0 30px 8px gray;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn {
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  font-size: 100%;
}

.btn:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn-danger {
  background-color: red;
  color: white;
}

.btn-danger:hover {
  background-color: #c80000;
}

.btn-primary {
  color: white;
  background-color: #0077ff;
}

.btn-primary:hover {
  background-color: #005ac0;
}

header {
  height: 150px;
}

#product-details {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#product-details h2 {
  font-size: xx-large;
}

#product-details * {
  margin-bottom: 20px;
}

#product-details img {
  width: 40%;
  border-radius: 8px;
  float: right;
}
/*# sourceMappingURL=index.css.map */